//COLORS
$clr-light: #ebe6e6;
$clr-dark: #090909;  
$clr-darker: #030303;
$clr-darker-t: #0303037a;
//COLORS ANIMATION
$clr-animate: #252525;
//COLORS SCROLLBAR
$clr-track: #262626bc;
$clr-thumb: #5e5e5e;
$clr-thumb-hvr: #444444;