@use "../abstracts/colors" as *;

.aboutme-section {
  width: min(72%, 32rem);
  gap: 2rem;
  margin-bottom: 5rem;
}

.profile-img {
  width: clamp(10rem, 20vw, 12rem);
  height: clamp(10rem, 20vw, 12rem);
  border-radius: clamp(5rem, 10vw, 6rem);
  border: 1px solid $clr-light;
  object-fit: cover;
  margin: 1rem 0;
}