@use "../abstracts/colors" as *;

//------------------------------------------------------------------------------

//HEADER
.header {
  height: 100vh;
}

.cap,
.cap-bn,
.cap-msg {
  margin-bottom: 4.5rem;
  padding-bottom: 0.625rem;
  overflow: hidden;
  position: relative;
}

.cap::before {
  content: "Jr. Front-End Dev.";
  animation: words 20s infinite 2s;
}

.cap::after {
  content: ".";
  color: $clr-dark;
  background-color: $clr-dark;
  border-left: 1px solid $clr-light;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: animate 4s infinite;
}

@keyframes words {

  0% {
    content: "Jr. Front-End Dev.";
  }

  20% {
    content: "Videomaker";
  }

  40% {
    content: "Videoeditor";
  }

  60% {
    content: "Photographer";
  }

  80% {
    content: "From Another World";
  }
}

@keyframes animate {

  40%, 50% {
    left: calc(100% + 4px);
  }

  0%, 85% {
    left: 0%;
  }
}

//------------------------------------------------------------------------------