@use "../abstracts/colors" as *;

//HEADER
.header {
  height: 100vh;
}

//TYPEWRITER EFFECT
.cap {
  margin-bottom: 4.5rem;
  padding-bottom: 0.625rem;
  overflow: hidden;
}

.cap-typewriter::before {
  content: "Jr. Front-End Dev.";
  animation: 20s 2s infinite words;
}

.cap-typewriter::after {
  content: ".";
  color: $clr-dark;
  background-color: $clr-dark;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: 4s infinite animate;
}

//TYPEWRITER ANIMATIONS
//Word-generating
@keyframes words {

  0% {
    content: "Jr. Front-End Dev.";
  }

  20% {
    content: "Videomaker";
  }

  40% {
    content: "Videoeditor";
  }

  60% {
    content: "Photographer";
  }

  80% {
    content: "From Another World";
  }
}

//Cursor and Movement
@keyframes animate {

  0% {
    left: 0%;
    border-left: 1px solid $clr-light;
  }
 
  33%, 43% {
    left: calc(100% + 4px);
    border-left: 1px solid $clr-light;
  }

  74% {
    border-left: 1px solid $clr-light;
  }

  75% {
    left: 0%;
    border-left: 0px solid $clr-light;
  }

  100% {
    left: 0%;
    border-left: 0px solid $clr-light;
  }
}