@use "../abstracts/colors" as *;

//------------------------------------------------------------------------------

.skills-section {
  width: min(78%, 37rem);
  gap: 2rem;
  margin-bottom: 5rem;
}

.s-skills,
.h-skills {
  width: min(60%, 22rem);
  border-radius: 2rem;
  flex-wrap: wrap;
  border: 1px solid $clr-light;
  background-color: $clr-dark;
}

.skill {
  width: 100%;
  height: 3rem;

  &:first-of-type {
    border-radius: 2rem 2rem 0 0;
  }

  &:first-of-type,
  &:nth-of-type(3),
  &:last-of-type {
    animation: 10s infinite highlighted;
  }

  &:last-of-type {
    border-radius: 0 0 2rem 2rem;
  }

  &:nth-of-type(2),
  &:nth-of-type(4) {
    animation: 10s 5s infinite highlighted;
  }
}

//------------------------------------------------------------------------------

@keyframes highlighted {

  0% {
    background-color: $clr-dark;
  }

  50% {
    background-color: $clr-animate;
  }

  100% {
    background-color: $clr-dark;
  }
}

//------------------------------------------------------------------------------